/* COMMON BEGIN */
:root {
    --dark-color: #242426;
    --light-color: #D9D9D9;
    --accent-color: #E11313;
    --rtu-color: #015551;
    --logo-height: 60px
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background-color: var(--light-color);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
}
* {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}
html {
    background-color: var(--light-color);
    overflow-x: hidden;
}
body > * {
    padding: 22px 64px;
}
header {
    position: sticky;
    top: 0;
    z-index: 10000;
}
header, footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding-bottom: 22px;
}
header > a, footer > a {
    display: inherit;
    align-items: center;
    justify-content: center;
    height: var(--logo-height);
}
header > a > img, footer > a > img {
    width: 100%;
    max-height: var(--logo-height);
    height: auto;
}
header > a > img {
    min-width: 200px;
}
#menu {
    display: inherit;
    flex-direction: row;
    gap: inherit;
}
.menu-item {
    display: inherit;
    align-items: center;
    justify-content: center;
}
.menu-item-link {
    color: var(--light-color);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 16px;
}
.menu-item-link:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
}
.title {
    text-align: center;
    font-size: 44px;
    margin-bottom: 22px;
}
.subtitle {
    text-align: center;
    margin-bottom: 24px;
}
.bruntor-brand-name {
    color: var(--accent-color);
}
.rtu-brand-name {
    color: var(--rtu-color);
}
footer {
    justify-content: center;
    gap: 36px;
}
/* COMMON END */

/* INDEX BEGIN */
#index > h3 {
    text-align: justify;
    line-height: 1.4;
    margin: 8px;
}
#index > h3:first-of-type {
    /*margin-top: 48px;*/
}
#index > h3:last-of-type {
    margin-bottom: 48px;
}
/* INDEX END */

/* CALCULATOR BEGIN */
#calc-form {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 32px;
}
.calc-form-row {
    display: inherit;
    align-items: flex-end;
    justify-content: space-between;
    flex: 1;
    gap: 32px;
}
.calc-form-row-elem {
    display: inherit;
    flex-direction: column;
    flex-basis: 33%;
    gap: 12px;
}
#calc-form label {
    font-size: 18px;
    font-weight: bold;
}
#calc-form input {
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border: 2px var(--dark-color) solid;
    padding: 16px 12px;
}
#calc-form input:focus {
    outline: 3px var(--accent-color) solid;
}
#calc-form input[readonly] {
    background-color: transparent;
}
#calc-button {
    height: unset!important;
    flex-grow: 0;
    font-size: 26px!important;
    text-transform: uppercase;
    color: white!important;
    background-color: var(--accent-color)!important;
    border: 4px var(--accent-color) solid!important;
    align-self: stretch;
    padding: 0 34px!important;
    cursor: pointer;
}
#calc-button:focus {
    outline: 3px var(--dark-color) solid!important;
}
#calc-button:hover {
    color: var(--accent-color)!important;
    background-color: white!important;
}
/* CALCULATOR END */

/* MAP BEGIN */
#map {
    min-height: calc(100vh - 2 * (var(--logo-height) + 22px + 22px));
    padding: 0;
}
/* MAP END */

/* ABOUT US BEGIN */
#about-us {
    padding-bottom: 0;
}
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
}
.flex-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.flex-image {
    max-width: 100%;
}
.flex-name, .flex-position {
    text-align: center;
}
#graphics-vehicle-container {
    position: relative;
    width: 100vw;
    height: 120px;
    margin: 22px 0 -4px -64px;
}
#graphics-vehicle {
    position: absolute;
    right: -100%;
    height: 100%;
    animation: slideLeft 10s linear infinite;
}
@keyframes slideLeft {
    from {
        right: -100%;
    }
    to {
        right: 100%;
    }
}
@media (max-width: 1024px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
    .flex-image {
        max-height: 300px;
    }
}
@media (max-width: 768px) {
    body > * {
        padding: 22px 32px;
    }
    header {
        flex-direction: column;
        gap: 18px;
    }
    #menu {
        width: 100%;
        justify-content: space-between;
    }
    .menu-item-link {
        padding: 0;
    }
}
@media (max-width: 520px) {

}
/* ABOUT US END */
